= f.fields_for :questions do |question_f|
  / = field_set_tag(legend = 'Questions')
  .new-question
    = question_f.label :query, "Question #{question_f.options[:child_index]+1}"
    = question_f.text_field :query
    = render 'answer_fields', f: question_f
