.list-container 
  - if @quiz.errors.any? 
    #error_explanation
      = pluralize(@quiz.errors.count, "error") 
      prohibited this quiz from being saved:
      %ul
        = @quiz.errors.full_messages.each do |msg| 
          %li= msg 

  = form_for @quiz do |f| 

    = f.label :title 
    = f.text_field :title, placeholder: 'Your title here'
    = f.label :author, 'Author' 
    = f.text_field :author, placeholder: 'Your username here'
    = render 'question_fields', f: f
    = f.submit 