.list-container 
  - if @quiz.errors.any? 
    #error_explanation
      = pluralize(@quiz.errors.count, "error") 
      prohibited this quiz from being saved:
      %ul
        = @quiz.errors.full_messages.each do |msg| 
          %li= msg 
 
  = form_tag quiz_attempts_path do 

    - @quiz.questions.each do |question| 

      %h3= question.query
      - question.answers.each do |answer| 
        = answer.response 
        = radio_button_tag "answer_ids[#{question.id}]", answer.id 
  = submit_tag 'Submit quiz' 

